@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Suranna&display=swap');

.suranna-regular {
    font-family: "Suranna", serif;
    font-weight: 400;
    font-style: normal;
}
